<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3>Login</h3>
                </div> <!-- .panel-heading -->
                <div class="panel-body">
                    <form name="loginForm" novalidate>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Type a username..."
                                ng-model="loginCtrl.username" ng-keypress="loginCtrl.keyPress($event)" required>
                            <p class="errorMsg" ng-if="loginForm.username.$invalid && loginForm.username.$touched">
                                You must enter your username.
                            </p>
                        </div> <!-- .form-group -->
                        <button type="button" class="btn btn-primary btn-block" ng-click="loginCtrl.submitForm()" ng-disabled="loginForm.$invalid">Enter</button>
                    </form>
                    <div class="alert alert-danger" role="alert" ng-if="loginCtrl.error">Something weird happened. Reload the page and try again!</div>
                </div> <!-- .panel-body -->
            </div> <!-- .panel -->
        </div> <!-- .col -->
        <div class="col-sm-4"></div>
    </div>
</div>