doctype html
html
  head
    title Crossover Game Auction App
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/angular/angular.js')
    script(src='/bower_components/angular-route/angular-route.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/javascripts/angularApp.js')
    script(src='/javascripts/controllers.js')
    script(src='/javascripts/directives.js')
  body(ng-app='gameAuction')
    div
      ng-view
